@model BestPaws.Web.ViewModels.Services.ServiceListViewModel
@{
    this.ViewData["Title"] = "Our services";
}
<h2>Our services</h2>
<div class="row">
    @foreach (var service in this.Model.Services)
    {
        <div class="col-form-label-sm">
            <div class="card">
                <div class="card-header">
                    <img class="card-img" src="assets/img/dog-1.jpg" alt="Service">
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-0">@service.Name</h4>
                    <p class="card-text">@service.Description </p>
                </div>
                <div class="card-footer">
                    <a href="#a" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    }
</div>
