@model BestPaws.Web.ViewModels.Services.ServiceListViewModel
@{
    this.ViewData["Title"] = "Manage Services";
}
<div class="row">
    @foreach (var service in this.Model.Services)
    {
        <div class="col-md-6">
            <div class="card m-2">
                <div class="card-header">
                    <img class="card-img" src="assets/img/dog-1.jpg" alt="Service">
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-0">@service.Name</h4>
                    <p class="card-text">@service.Description</p>
                </div>
                <div class="card-footer">
                    @if (service.IsDeleted)
                    {
                        <a class="btn btn-outline-light" asp-controller="Service" asp-action="Delete" asp-route-id=@service.Id>Delete</a>
                        <a class="btn btn-outline-info" asp-controller="Service" asp-action="Restore" asp-route-id=@service.Id>Restore</a>
                    }
                    else if (!service.IsDeleted)
                    {
                        <a class="btn btn-outline-danger" asp-controller="Service" asp-action="Delete" asp-route-id=@service.Id>Delete</a>
                        <a class="btn btn-outline-light" asp-controller="Service" asp-action="Restore" asp-route-id=@service.Id>Restore</a>
                    }
                    <a class="btn btn-outline-success" asp-controller="Service" asp-action="Edit" asp-route-id=@service.Id>Edit</a>
                </div>
            </div>
        </div>
    }
</div>
