@model BestPaws.Web.ViewModels.Doctor.DoctorListViewModel
@{ this.ViewData["Title"] = "Our Team"; }
<header class="jumbotron my-3">
    <div class="container text-center mt-5 mb-2">
        <h1 class="mb-0">Meet our team</h1><span>See who we are and how we can help you</span>
    </div>
</header>
<div class="container mt-3">
    <div class="row">
        @foreach (var doctor in Model.Doctors)
        {
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    @*<img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">*@
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">@doctor.FirstName @doctor.LastName</h5>
                        <div class="card-text text-black-50">@doctor.Specialization</div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
