@model BestPaws.Web.ViewModels.Doctor.DoctorInputModel

@{ ViewData["Title"] = "Register new doctor"; }
<div class="container align-content-center">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="mt-2">
                <h1>Create</h1>
                <h4>Doctor</h4>
            </div>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MiddleName" class="control-label"></label>
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Specialization" class="control-label"></label>
                    <input asp-for="Specialization" class="form-control" />
                    <span asp-validation-for="Specialization" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Biography" class="control-label"></label>
                    <textarea asp-for="Biography" class="form-control"></textarea>
                    <span asp-validation-for="Biography" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a class="btn btn-info" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>


