@using BestPaws.Common
@{
    this.ViewData["Title"] = "About Us";
}
<header class="jumbotron my-3">
    <h1 class="display-3">More info about the clinic</h1>
    <h2>Time to go zooooom</h2>
    <div>
        <p>
            Litter kitter kitty litty little kitten big roar roar feed me
            Good morning sunshine instantly break out into full speed gallop across the house for no reason
            Cat ipsum dolor sit amet, claws in your leg purr while eating yet blow up sofa in 3 seconds for trip on catnip.
            Swat turds around the house. Nap all day i’m so hungry i’m so hungry but ew not for that why must they do that,
            man running from cops stops to pet cats,     goes to jail so meow meow you are my owner so here is a dead rat but meow meow mama.
            Thinking longingly about tuna brine go into a room to decide you didn't want to be in there anyway,
            so meowzer hide head under blanket so no one can see claw your carpet in places everyone can see - why hide my amazing artistic clawing skills?
            or drink water out of the faucet and licks your face.
        </p>
        <p>
            Reward the chosen human with a slow blink grab pompom in mouth and put in water dish but cats making all the muffins,
            for steal raw zucchini off kitchen counter. Spill litter box, scratch at owner, destroy all furniture,
            especially couch leave buried treasure in the sandbox for the toddlers make it to the carpet before i vomit mmmmmm
            fight own tail so don't nosh on the birds or sun bathe ignore the squirrels,
            you'll never catch them anyway. Cats woo dead stare with ears cocked poop on couch but touch my tail,
            i shred your hand purrrr dead stare with ears cocked,
            and human is behind a closed door, emergency! abandoned! meeooowwww!!! yet put butt in owner's face.
        </p>
    </div>
</header>