@model BestPaws.Web.ViewModels.Contact.MessageInputModel
<div class="container">
    <div class="mt-3 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.6012107612996!2d23.31619351554004!3d42.69098907916602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8512e02d1a4d%3A0x63106026e23ade74!2sul.%20%22Petar%20Parchevich%22%2C%201000%20Sofia%20Center%2C%20Sofia!5e0!3m2!1sen!2sbg!4v1608925405029!5m2!1sen!2sbg"
                width="1000" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    @if (TempData.ContainsKey("Message"))
    {
        <div class="container alert alert-secondary alert-dismissible fade show text-center col-md-7 p-3 mb-5" role="alert">
            @this.TempData["Message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="text-info text-center mt-5">
        <h3>
            Need more information or have questions?
        </h3>
        <p>
            Please, don't hesitate to us an message.
        </p>
    </div>


    <form method="post" class="col-6 offset-3 mt-5">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="AuthorFirstName"> Your First Name</label>
            <input asp-for="AuthorFirstName" class="form-control" />
            <span asp-validation-for="AuthorFirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AuthorLastName"> Your Last Name</label>
            <input asp-for="AuthorLastName" class="form-control" />
            <span asp-validation-for="AuthorLastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AuthorEmail"> Your Emal Address</label>
            <input asp-for="AuthorEmail" class="form-control" />
            <span asp-validation-for="AuthorEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Subject"></label>
            <input asp-for="Subject" class="form-control" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control">Message text</textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <input type="submit" value="Submit" class="btn btn-outline-info" />
    </form>
</div>
