<div class="container align-content-center">
    <h2 class="text-info mb-4 mt-4">Why should adopt a pet?</h2>
    <h4>
        Having a pet adds an extra dose of love to your life.
    </h4>
    <p>
        What can make this experience more meaningful then rescue an animal from a local shelter?
    </p>
    <div>
        <h4>When you adopt a pet, you save a life.</h4>
        <p>As simple as that.</p>
        <p>
            So many animals are living in cages at shelters or wandering on the streets with their life endagered.
            When you adopt a pet, you’re giving them a second chance on living and loving.
        </p>
    </div>
    <div>
        <h4>You save money.</h4>
        <p>
            Adopting a pet costs less money.
            What are you waiting for? Search for such an event in your area, and find a free pet!
        </p>
    </div>
    <div>
        <h4>You're paying it forward</h4>
        <p>
            It’s a way of giving back. Many people who work at these facilities are volunteers,
            and you taking a furry friend home is the reward of their hard work.
            It’s a nice circle of giving and receiving.
        </p>
    </div>
    <div>
        <h4>
            You get unconditional love
        </h4>
        <p>
            Having a pet is a source of love. Plain and simple!
            There’s no stilted conversations or arguments.
            Sure, lots of cats can give the cold shoulder, but we know that deep down, they have a soft spot for their owners.
            How else would they get fed? :)
        <p>No matter what type of pet it is, you form a bond of love with each other, unconditionally.</p>
        </p>
    </div>
</div>




