@model BestPaws.Web.ViewModels.PetCenter.PetCenterListViewModel
@{
    this.ViewData["Pets"] = "Pets";
}

<h3 class="text-info">@this.ViewData["Pets"]</h3>

@foreach (var pet in this.Model.Pets)
{
    <div>Name: @pet.Name</div>
}

@if (User.IsInRole("Doctor") || User.IsInRole("Administrator"))
{
    <a asp-action="RegisterPet" class="btn btn-outline-info">Register a new pet</a>
}
