@model BestPaws.Web.ViewModels.PetCenter.PetCenterListViewModel
@{
    this.ViewData["Pets"] = "Pets";
}

<h3>@this.ViewData["Pets"]</h3>

@foreach (var pet in this.Model.Pets)
{
    <div>Name: @pet.Name</div>
}

<a asp-action="AddPet" class="btn btn-outline-info">Add new pet</a>
