@model BestPaws.Web.ViewModels.PetCenter.AddPetInputModel


<form method="post" class="col-6 offset-3">
    <div asp-validation-summary="All"></div>
    <h3 class="text-info mt-5">Pet Info</h3>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender"></label>
        <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<BestPaws.Data.Models.Enums.Gender>()"> </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AnimalTypeId"></label>
        <select asp-for="AnimalTypeId" class="form-control" asp-items="Model.AnimalTypes"> </select>
        <span asp-validation-for="AnimalTypeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AnimalTypeId"></label>
        <select asp-for="AnimalBreedId" class="form-control" asp-items="Model.AnimalBreeds"> </select>
        <span asp-validation-for="AnimalBreedId" class="text-danger"></span>
    </div>
    <h3 class="text-info mt-5">Pet Owner Info</h3>
    <div class="form-group">
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress" class="form-control" />
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <h3 class="text-info mt-5">Doctor Info</h3>
    <div class="form-group">
        <label asp-for="DoctorId"></label>
        <select asp-for="DoctorId" class="form-control" asp-items="Model.Doctors"> </select>
        <span asp-validation-for="DoctorId" class="text-danger"></span>
    </div>
    <input type="submit" value="Submit" class="btn btn-outline-info" />
</form>
