@model BestPaws.Web.ViewModels.Services.ServiceInputModel
@{
    this.ViewData["Title"] = "Add Service";
}

<form method="post" class="col-6 offset-3 mt-3">
    <h4 class="text-info">@this.ViewData["Title"]</h4>
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <input type="submit" value="Submit" class="btn btn-info" />
</form>
