@model BestPaws.Web.ViewModels.Services.ServiceListViewModel
@{
    this.ViewData["Title"] = "Manage Services";
}
<div class="container m-5">
    @if (TempData.ContainsKey("Message"))
    {
        <div class="container alert alert-secondary alert-dismissible fade show text-center col-md-7 p-3 mb-5" role="alert">
            @this.TempData["Message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @foreach (var service in this.Model.Services)
    {
        <div class="col-md-8 offset-2">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>@service.Name</td>
                        <td class="text-right">
                            @if (service.IsDeleted)
                            {
                                <a class="disabled btn btn-danger" asp-controller="Dashboard" asp-action="Delete" asp-route-id=@service.Id>Delete</a>
                                <a class="btn btn-info" asp-controller="Dashboard" asp-action="Restore" asp-route-id=@service.Id>Restore</a>
                            }
                            else if (!service.IsDeleted)
                            {
                                <a class="btn btn-danger" asp-controller="Dashboard" asp-action="Delete" asp-route-id=@service.Id>Delete</a>
                                <a class="disabled btn btn-info" asp-controller="Dashboard" asp-action="Restore" asp-route-id=@service.Id>Restore</a>
                            }
                            <a class="btn btn-success" asp-controller="Dashboard" asp-action="Edit" asp-route-id=@service.Id>Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>
