@using BestPaws.Common

<!-- Site footer -->
<footer class="site-footer  bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Stay in touch</h6>
                <ul class="footer-links">
                    <li><i class="fas fa-map-marker-alt"></i> Sofia 1000, Petar Parchevich str.</li>
                    <li><i class="fas fa-phone"></i> +359 123 456 789</li>
                    <li><i class="fas fa-envelope"></i> office@bestpaws.eu</li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Hours of operation</h6>
                <ul class="footer-links">
                    <li>Monday: 8:00 - 9:00pm </li>
                    <li>Tuesday: 8:00 - 9:00pm </li>
                    <li>Wednesday: 8:00 - 9:00pm </li>
                    <li>Thursday: 8:00 - 9:00pm </li>
                    <li>Friday: 8:00 - 9:00pm </li>
                    <li>Saturday: 9:00 - 8:00pm </li>
                    <li>Sunday: 9:00 - 8:00pm </li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a class="text-info" asp-area="" asp-controller="AboutUs" asp-action="Index">About Us</a></li>
                    <li><a class="text-info" asp-area="" asp-controller="Service" asp-action="Index">Our Services</a></li>
                    <li><a class="text-info" asp-area="" asp-controller="PetCenter" asp-action="Index">Pet Center</a></li>
                    <li><a class="text-info" asp-area="" asp-controller="Contact" asp-action="Index">Contact Us</a></li>
                    <li><a href="#!" class="text-info">Adopt a pet!</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
