@using BestPaws.Common
@using BestPaws.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @(this.User.Identity.Name)!</a>
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#a" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Administration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-area="Administration" asp-controller="Doctors" asp-action="Index" title="Doctors">Doctors</a>
                        <a class="dropdown-item" asp-area="Administration" asp-controller="Dashboard" asp-action="ManageServices" title="Admin">Services</a>
                        <a class="dropdown-item" asp-area="Administration" asp-controller="Users" asp-action="AddAdmin" title="Admin">Admins</a>
                    </div>
                </li>
            </ul>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                <button type="submit" class="nav-link btn btn-outline-danger">Logout</button>
            </form>
        </li>
    }
    else
    {
        @*<li class="nav-item m-1">
                <a class="nav-link btn btn-outline-danger" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>*@
        <li class="nav-item m-1">
            <a class="nav-link btn btn-outline-danger" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
